In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("../data/AAPL.csv")
df = df[:1000]
df = df.drop(['High', 'Low', 'Close'], axis=1)
df

           Date   Time   Open  Volume
0    01/02/2014  04:00  72.21    1441
1    01/02/2014  04:08  72.56    1533
2    01/02/2014  04:09  72.55     767
3    01/02/2014  04:11  72.50    1533
4    01/02/2014  04:12  72.50    5266
5    01/02/2014  04:13  72.54    3066
6    01/02/2014  04:14  72.54   16173
7    01/02/2014  04:15  72.55    2300
8    01/02/2014  04:27  72.55    4131
9    01/02/2014  04:29  72.54     767
10   01/02/2014  04:39  72.54    2300
11   01/02/2014  04:42  72.54    1533
12   01/02/2014  04:47  72.52     767
13   01/02/2014  05:01  72.44     767
14   01/02/2014  05:12  72.37     767
15   01/02/2014  05:20  72.34     767
16   01/02/2014  05:35  72.33    2300
17   01/02/2014  05:38  72.33     767
18   01/02/2014  05:46  72.37     767
19   01/02/2014  06:06  72.55    3089
20   01/02/2014  06:10  72.53     767
21   01/02/2014  06:14  72.56    2890
22   01/02/2014  06:18  72.46    1533
23   01/02/2014  06:19  72.42    3434
24   01/02/2014  06:24  72.43    1533
25   01/02/2014  06:25  72.41    3066
26   01/02/2014  06:31  72.47     767
27   01/02/2014  06:45  72.49    1533
28   01/02/2014  07:01  72.41    3756
29   01/02/2014  07:02  72.48     767
..          ...    ...    ...     ...
970  01/03/2014  13:59  71.04   94258
971  01/03/2014  14:00  71.06  142154
972  01/03/2014  14:01  71.08  141334
973  01/03/2014  14:02  71.08   76975
974  01/03/2014  14:03  71.09  167255
975  01/03/2014  14:04  71.06   87414
976  01/03/2014  14:05  71.08  125660
977  01/03/2014  14:06  71.03  127614
978  01/03/2014  14:07  71.04   51291
979  01/03/2014  14:08  71.03   42921
980  01/03/2014  14:09  71.03   79857
981  01/03/2014  14:10  71.01   87475
982  01/03/2014  14:11  71.03   45067
983  01/03/2014  14:12  71.01   88686
984  01/03/2014  14:13  71.01   76661
985  01/03/2014  14:14  71.01   68115
986  01/03/2014  14:15  71.02   99439
987  01/03/2014  14:16  71.02   64964
988  01/03/2014  14:17  71.03   64918
989  01/03/2014  14:18  71.04   89621
990  01/03/2014  14:19  71.02  201952
991  01/03/2014  14:20  70.96  104337
992  01/03/2014  14:21  70.98   96113
993  01/03/2014  14:22  70.95   43626
994  01/03/2014  14:23  70.96   50126
995  01/03/2014  14:24  70.96   47198
996  01/03/2014  14:25  70.97   99256
997  01/03/2014  14:26  70.97   47658
998  01/03/2014  14:27  70.98   71188
999  01/03/2014  14:28  70.98   48286

[1000 rows x 4 columns]

In [14]:
def substring(s):
    return s[:2]

df = df[df['Time'].map(str).map(substring).map(int) >= 9]

In [15]:
df

           Date   Time   Open   Volume
124  01/02/2014  09:00  72.44    35597
125  01/02/2014  09:01  72.48    29127
126  01/02/2014  09:02  72.51    19891
127  01/02/2014  09:03  72.51    30354
128  01/02/2014  09:04  72.51    17630
129  01/02/2014  09:05  72.54    11498
130  01/02/2014  09:06  72.54     7665
131  01/02/2014  09:07  72.52    16097
132  01/02/2014  09:08  72.54     2300
133  01/02/2014  09:09  72.54      767
134  01/02/2014  09:10  72.55     3718
135  01/02/2014  09:11  72.52     4990
136  01/02/2014  09:12  72.51     6132
137  01/02/2014  09:13  72.49      767
138  01/02/2014  09:16  72.49      767
139  01/02/2014  09:17  72.49     5672
140  01/02/2014  09:18  72.49     7719
141  01/02/2014  09:19  72.48     3066
142  01/02/2014  09:20  72.51     9390
143  01/02/2014  09:21  72.51     3066
144  01/02/2014  09:22  72.50     5366
145  01/02/2014  09:23  72.54    14947
146  01/02/2014  09:24  72.52     4522
147  01/02/2014  09:25  72.51    19354
148  01/02/2014  09:26  72.54    19147
149  01/02/2014  09:27  72.51     3449
150  01/02/2014  09:28  72.49    21631
151  01/02/2014  09:29  72.47    12333
152  01/02/2014  09:30  72.50  1577070
153  01/02/2014  09:31  72.51   550121
..          ...    ...    ...      ...
970  01/03/2014  13:59  71.04    94258
971  01/03/2014  14:00  71.06   142154
972  01/03/2014  14:01  71.08   141334
973  01/03/2014  14:02  71.08    76975
974  01/03/2014  14:03  71.09   167255
975  01/03/2014  14:04  71.06    87414
976  01/03/2014  14:05  71.08   125660
977  01/03/2014  14:06  71.03   127614
978  01/03/2014  14:07  71.04    51291
979  01/03/2014  14:08  71.03    42921
980  01/03/2014  14:09  71.03    79857
981  01/03/2014  14:10  71.01    87475
982  01/03/2014  14:11  71.03    45067
983  01/03/2014  14:12  71.01    88686
984  01/03/2014  14:13  71.01    76661
985  01/03/2014  14:14  71.01    68115
986  01/03/2014  14:15  71.02    99439
987  01/03/2014  14:16  71.02    64964
988  01/03/2014  14:17  71.03    64918
989  01/03/2014  14:18  71.04    89621
990  01/03/2014  14:19  71.02   201952
991  01/03/2014  14:20  70.96   104337
992  01/03/2014  14:21  70.98    96113
993  01/03/2014  14:22  70.95    43626
994  01/03/2014  14:23  70.96    50126
995  01/03/2014  14:24  70.96    47198
996  01/03/2014  14:25  70.97    99256
997  01/03/2014  14:26  70.97    47658
998  01/03/2014  14:27  70.98    71188
999  01/03/2014  14:28  70.98    48286

[812 rows x 4 columns]

In [16]:
normalized_data = []
for index, row in df.iterrows():
    normalized_data.append()
    haversine_series.append(haversine(40.671, -73.985, row['latitude'], row['longitude']))
df['distance'] = haversine_series

TypeError: append() takes exactly one argument (0 given)

In [18]:
normalized_data = []
for i in range(1, len(df)):
    percent_change = df['Open'][i]/df['Open'][i-1]
    normalized_data.append(percent_change)
normalized_data

KeyError: 1

In [49]:
def is_valid_time(s):
    h = int(s[:2])
    m = int(s[3:])
    if h > 9 and h < 16:
        return True
    elif h == 9 and m >= 30:
        return True
    elif h == 16 and m == 0:
        return True
    else:
        return False

In [54]:
df = pd.read_csv("../data/AAPL.csv")
df = df.drop(['High', 'Low', 'Close'], axis=1)[:1100]
df = df[df['Time'].map(str).map(is_valid_time)]

In [55]:
df

            Date   Time   Open   Volume
152   01/02/2014  09:30  72.50  1577070
153   01/02/2014  09:31  72.51   550121
154   01/02/2014  09:32  72.56   644401
155   01/02/2014  09:33  72.58   444397
156   01/02/2014  09:34  72.60   895784
157   01/02/2014  09:35  72.37   748324
158   01/02/2014  09:36  72.31   485037
159   01/02/2014  09:37  72.39   267863
160   01/02/2014  09:38  72.42   291150
161   01/02/2014  09:39  72.38   264115
162   01/02/2014  09:40  72.36   655669
163   01/02/2014  09:41  72.31   519139
164   01/02/2014  09:42  72.21   439806
165   01/02/2014  09:43  72.31   243749
166   01/02/2014  09:44  72.32   285071
167   01/02/2014  09:45  72.34   279644
168   01/02/2014  09:46  72.28   286236
169   01/02/2014  09:47  72.31   188905
170   01/02/2014  09:48  72.34   202863
171   01/02/2014  09:49  72.29   176864
172   01/02/2014  09:50  72.32   189925
173   01/02/2014  09:51  72.25   543284
174   01/02/2014  09:52  72.20   355137
175   01/02/2014  09:53  72.27   188599
176   01/02/2014  09:54  72.21   207777
177   01/02/2014  09:55  72.27   360664
178   01/02/2014  09:56  72.31   189074
179   01/02/2014  09:57  72.28   241580
180   01/02/2014  09:58  72.34   278058
181   01/02/2014  09:59  72.29   112385
...          ...    ...    ...      ...
1062  01/03/2014  15:31  71.05   350069
1063  01/03/2014  15:32  71.06    65125
1064  01/03/2014  15:33  71.03   181266
1065  01/03/2014  15:34  71.02   174176
1066  01/03/2014  15:35  71.00   130458
1067  01/03/2014  15:36  71.01   115466
1068  01/03/2014  15:37  71.03   106728
1069  01/03/2014  15:38  71.00   217052
1070  01/03/2014  15:39  70.98   217220
1071  01/03/2014  15:40  70.94   294072
1072  01/03/2014  15:41  70.89   311992
1073  01/03/2014  15:42  70.86   356776
1074  01/03/2014  15:43  70.85   244391
1075  01/03/2014  15:44  70.86   347264
1076  01/03/2014  15:45  70.83   287557
1077  01/03/2014  15:46  70.83   293406
1078  01/03/2014  15:47  70.81   321228
1079  01/03/2014  15:48  70.78   667557
1080  01/03/2014  15:49  70.75   443760
1081  01/03/2014  15:50  70.74   677045
1082  01/03/2014  15:51  70.76   842208
1083  01/03/2014  15:52  70.69   498224
1084  01/03/2014  15:53  70.68   784755
1085  01/03/2014  15:54  70.62   918010
1086  01/03/2014  15:55  70.53  1248290
1087  01/03/2014  15:56  70.58   914822
1088  01/03/2014  15:57  70.55   781038
1089  01/03/2014  15:58  70.56  1046544
1090  01/03/2014  15:59  70.55  1885365
1091  01/03/2014  16:00  70.59  3408129

[782 rows x 4 columns]

In [68]:
def slash2dash(s):
    s = s.split('/')
    s = "-".join(s)
    return s

In [69]:
df = pd.read_csv("../data/AAPL-Updated.csv")[:100]
df['Date'] = df['Date'].map(str).map(slash2dash)
df

          Date   Time   Open   Volume
0   01-02-2014  09:30  72.50  1577070
1   01-02-2014  09:31  72.51   550121
2   01-02-2014  09:32  72.56   644401
3   01-02-2014  09:33  72.58   444397
4   01-02-2014  09:34  72.60   895784
5   01-02-2014  09:35  72.37   748324
6   01-02-2014  09:36  72.31   485037
7   01-02-2014  09:37  72.39   267863
8   01-02-2014  09:38  72.42   291150
9   01-02-2014  09:39  72.38   264115
10  01-02-2014  09:40  72.36   655669
11  01-02-2014  09:41  72.31   519139
12  01-02-2014  09:42  72.21   439806
13  01-02-2014  09:43  72.31   243749
14  01-02-2014  09:44  72.32   285071
15  01-02-2014  09:45  72.34   279644
16  01-02-2014  09:46  72.28   286236
17  01-02-2014  09:47  72.31   188905
18  01-02-2014  09:48  72.34   202863
19  01-02-2014  09:49  72.29   176864
20  01-02-2014  09:50  72.32   189925
21  01-02-2014  09:51  72.25   543284
22  01-02-2014  09:52  72.20   355137
23  01-02-2014  09:53  72.27   188599
24  01-02-2014  09:54  72.21   207777
25  01-02-2014  09:55  72.27   360664
26  01-02-2014  09:56  72.31   189074
27  01-02-2014  09:57  72.28   241580
28  01-02-2014  09:58  72.34   278058
29  01-02-2014  09:59  72.29   112385
..         ...    ...    ...      ...
70  01-02-2014  10:40  72.15   177461
71  01-02-2014  10:41  72.20   327834
72  01-02-2014  10:42  72.31   170134
73  01-02-2014  10:43  72.27   264582
74  01-02-2014  10:44  72.34   120303
75  01-02-2014  10:45  72.26   122480
76  01-02-2014  10:46  72.27   101286
77  01-02-2014  10:47  72.27   202166
78  01-02-2014  10:48  72.19   149085
79  01-02-2014  10:49  72.19   131716
80  01-02-2014  10:50  72.19    60960
81  01-02-2014  10:51  72.16   112101
82  01-02-2014  10:52  72.20    59021
83  01-02-2014  10:53  72.19    89781
84  01-02-2014  10:54  72.19    49041
85  01-02-2014  10:55  72.21    56415
86  01-02-2014  10:56  72.21    60355
87  01-02-2014  10:57  72.20    88041
88  01-02-2014  10:58  72.21    50589
89  01-02-2014  10:59  72.22    37482
90  01-02-2014  11:00  72.22   172954
91  01-02-2014  11:01  72.20    73692
92  01-02-2014  11:02  72.20    95591
93  01-02-2014  11:03  72.18    30062
94  01-02-2014  11:04  72.18    24758
95  01-02-2014  11:05  72.19   127416
96  01-02-2014  11:06  72.19   144885
97  01-02-2014  11:07  72.20    60585
98  01-02-2014  11:08  72.21    84270
99  01-02-2014  11:09  72.23    75807

[100 rows x 4 columns]